# History files
.Rhistory
.Rapp.history
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user
# data source files
data/*
SN_2014_ContinuousDHS.zip
Report.pdf
Senegal-2014-full data999.dta
SNIR70DT.zip
